<div class="modal-body">
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
    <div class="myform bg-dark">
      <h1 class="text-center">Register Form</h1>
      <form>
        <div class="mb-3 mt-4">
          <label for="Name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="Name"
          />
        </div>
        <div class="mb-3 mt-4">
          <label for="Organization" class="form-label">Organization</label>
          <input
            type="text"
            class="form-control"
            id="Organization"
          />
        </div>
        <div class="mb-3 mt-4">
          <label for="Email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="Email"
          />
        </div>
        <div class="mb-3">
          <label for="Password1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="Password1"
          />
        </div>
        <div class="mb-3">
          <label for="Password2" class="form-label">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="Password2"
          />
        </div>
        <button type="submit" class="btn btn-light mt-3" (click)="register()">Register</button>
        <p>Has a account? <button (click)="openLoginModal($event)">Login Here</button></p>
      </form>
    </div>
  </div>
  