<div class="modal-body">
  <button
    type="button"
    class="btn-close btn-close-white"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
  ></button>
  <div class="myform bg-dark">
    <h1 class="text-center">Login Form</h1>
    <form (ngSubmit)="login($event)" [formGroup]="loginForm">
      <div class="mb-3 mt-4">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>
      <button
        type="submit"
        class="btn btn-light mt-3"
        [disabled]="!loginForm.valid"
      >
        LOGIN
      </button>
      <p>
        Not a member?
        <button (click)="openRegisterModal($event)">Signup now</button>
      </p>
    </form>
  </div>
</div>
