<ul class="navbar-nav ms-auto">
    <li class="nav-item list-item">
      <img src="assets/images/login-color-logo.png" alt="logo" class="logo">
      <button class="nav-link btn"
      (click)="openModal(loginModal)"
      >Login</button>
    </li>
    <li class="nav-item list-item">
      <img src="assets/images/register-color-logo.png" alt="logo" class="logo">
      <button class="nav-link btn"
      (click)="openModal(registerModal)">Regiser</button>
    </li>
</ul>

<ng-template #loginModal>
  <app-login></app-login>
</ng-template>

<ng-template #registerModal>
  <app-register></app-register>
</ng-template>